.App-header {
  background-color: #cbb080;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.text {
  color: #864a40;
  text-align: center;
}
