.App {
  /* background: linear-gradient(#F9FEFB, #090D09 80%, #F9FEFB); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 6vw;
  color: #252525;
  /* background-image: url(https://media.giphy.com/media/LrMNKXTTmTIMixEGfb/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text; */
  /* -webkit-text-stroke: 0.3px #ffffff; */
}

.App-header {
 
  /* background-image: url("Image/berries.jpg");
  background-size: cover; */
  background-color: #a11715;
}

@media only screen and (max-width: 600px){
  .App {
    max-width: 100%;
    max-height: 100%;
  }

  .text {
    text-align: left;
    font-size: 5vw;
  }

  .App-header {
    display: none;
  }
}


