.App-header {
  background-color: #6a2225;
  background-image: linear-gradient(#FFFFFF 10%,  #6a2225 95%);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  color: #2b271e;
  text-align: center;
  font-family: 'Bigelow Rules', cursive;
  font-size: 600%;
}
