.footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    right:25%;
    left:50%;
    margin-left:-300px;
    font-size: 10px;
  }

  @media only screen and (max-width: 600px){
    .footer {
      margin-left:-100px;
    }
  }

  a:link {
    color: #090D09;
    text-decoration: none;
  }

  a:visited {
    color: #090D09;
  }

  a:hover {
    color: #090D09;
  }

  a:active {
      color: #090D09 ;
  }