.footer{
    text-align: center;
    font-family: 'Playfair Display', serif;
    position: fixed;
    bottom: 0;
    right:25%;
    left:50%;
    margin-left:-300px;
  }

  @media only screen and (max-width: 600px){
    .footer {
      margin-left:-100px;
    }
  }

  a:link {
    color: #1d1b14;
    text-decoration: none;
  }

  a:visited {
    color: #1d1b14;
  }

  a:hover {
    color: #FFFFFF;
  }

  a:active {
      color: #1d1b14 ;
  }